<!--
<table class="display expandable-table" style="width:100%">
  <thead>
    <tr>
      <th>name</th>
      <th>Action </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let th of listThematique">
      
      <td>
      

        <div  id="accordion" >

          <div class="card">
            <div class="card-header" id="headingOne">
              <h5 class="mb-0">
                <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" (click)="showCompetences(th)">
                  {{ th.nom }}
                </button>
              </h5>
            </div>
            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
              <div class="card-body">
                <div *ngIf="selectedThematique">
                  <ul>
                    <li *ngFor="let competence of competencesForSelectedThematique">
                      {{ competence.nom }}
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </td>
      <button type="button" class="btn btn-danger" (click)="deleteUser(th.id)">
        Delete
      </button>
    </tr>
  </tbody>
</table> -->
<table class="display expandable-table" style="width:100%">
  <thead>
    <tr>
      <th>Thematique</th>
    
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let th of listThematique">
      <td>
        <div id="accordion">
          <div class="card">
            <div class="card-header" id="heading{{th.id}}">
              <h5 class="mb-0">
                <button
                class="btn btn-custom"
                data-toggle="collapse"
                [attr.data-target]="'#collapse' + th.id"
                aria-expanded="false"
                [attr.aria-controls]="'collapse' + th.id"
                (click)="showCompetences(th)">
              
                {{ th.nom }}
                <span class="arrow-icon"></span>
              </button>
                
              </h5>
            </div>
            <div
              [id]="'collapse' + th.id"
              class="collapse"
              [class.show]="selectedThematique === th"
              [attr.aria-labelledby]="'heading' + th.id"
              data-parent="#accordion"
            >
              <div class="card-body">
                <div *ngIf="selectedThematique === th">
                  <ul>
                    <li *ngFor="let competence of competencesForSelectedThematique">
                      <button class="btn btn-link" (click)="showSousCompetences(competence)">
                        {{ competence.nom }}
                      </button>
                      <ul *ngIf="selectedCompetence === competence">
                        <li *ngFor="let sousCompetence of SouscompetencesForSelectedCompetence">
                         
                         <button class="btn btn-link" 
                         [routerLink]="['/sc']"
                         [queryParams]="{ sousCompetenceId: sousCompetence.id }">
                          {{ sousCompetence.nom }}
                         </button>
                        
                         <button type="button" class="btn btn-sm btn-info" data-toggle="modal" data-target="#exampleModalCenter3" (click)="showCours(sousCompetence.id)">
                          showCours
                        </button>
                       


                        </li>
                      </ul>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </td>
      <td>
      <!--  <button type="button" class="btn btn-danger" (click)="deleteUser(th.id)">Delete</button> -->
      </td>
    </tr>
  </tbody>
</table>



  




<!-- Show the list of competences for the selected thematique -->



<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">

      <div class="modal-body">
        <form novalidate>
          <div class="row">
              <div class="col-md-12 grid-margin">
                  <div class="card rounded">
                      <div class="card-header">
                          <h4 class="card-title">ADD User</h4>
                      </div>
                      <div class="card-body">
                       
                        <div class="form-group text-center">
                            <input type="text" class="form-control form-control-sm w-75 mx-auto" name="nom"
                                [(ngModel)]="thematique.nom" placeholder="nom" required #titleInput>
                        </div>
                        
            
      
                          <div class="form-group text-center"> 
                            <!-- aria-label="Close"  data-dismiss="modal" (click)="closeModal(); -->
                              <!-- <button type="submit" class="btn btn-danger" aria-label="Close"  data-dismiss="modal" (click)="closeModal();  (click)="UpdateOffer()" >Update</button> -->
                              <button type="submit" class="btn btn-danger" aria-label="Close"  data-dismiss="modal" (click)="closeModal();  createThematique()">Submit</button>
                            </div>
                      </div>
                  </div>
              </div>
          </div>
      </form>
      </div>
    </div>
  </div>
</div>



<!-- Modal3 -->
<div class="modal fade"  id="exampleModalCenter3" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content" style="width: 1000px;">

      <div class="modal-body">
        <table class="display expandable-table" style="width: auto">
          <thead>
            <tr>
              <th>Cours</th>
              
            </tr>
          </thead>
          <tbody >
           <tr>
            <div *ngIf="scrapedContent">
              <h3>Contenu extrait</h3>
              <p>{{ scrapedContent }}</p>
            </div>
           </tr>

          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>








