<div *ngIf="questionsWithOptions && questionsWithOptions.length > 0">
  <h2>Question {{ currentQuestionIndex + 1 }}:</h2>
  <p>{{ questionsWithOptions[currentQuestionIndex].question.enonce }}</p>
  <ul>
    <li *ngFor="let option of questionsWithOptions[currentQuestionIndex].options">
      <label>
        <input type="radio" name="userAnswer" [(ngModel)]="userAnswer" [value]="option.option">
        {{ option.option }}
      </label>
    </li>
  </ul>
  <button (click)="answerQuestion()" [disabled]="isAnswering">Valider</button>
 <!-- <button (click)="navigateToQuestion(-1)" [disabled]="currentQuestionIndex === 0">Précédent</button>
  <button (click)="navigateToQuestion(1)" [disabled]="currentQuestionIndex === questionsWithOptions.length - 1 || !canProceed">Suivant</button>
-->
 
</div>
<div>
  <!-- Affiche le score de l'utilisateur -->
  <p>Score: {{ userScore }}</p>
  <!-- Affiche le nombre total de questions -->
  <p>Nombre de questions: {{ totalQuestions }}</p>
</div>


<div *ngIf="!showResults">
  <!-- Affiche les éléments de question et réponse ici -->
</div>

<div *ngIf="showResults">
  <!-- Affiche le score de l'utilisateur -->
  <p>Score: {{ userScore }}</p>
  <!-- Affiche le nombre total de questions -->
  <p>Nombre de questions: {{ totalQuestions }}</p>
  <!-- Affiche le nombre de questions correctes -->
  <p>Nombre de questions correctes: {{ correctAnswersCount }}</p>
  <!-- Affiche le nombre de questions incorrectes -->
  <p>Nombre de questions incorrectes: {{ incorrectAnswersCount }}</p>
</div>